body{margin:0;padding:0;background:#fff0f5;font-size:12px;overflow:auto}
#mainDiv{width:100%;height:100%}
#loveHeart{float:left;width:670px;height:625px}
#garden{width:100%;height:100%}
#elapseClock{text-align:right;font-size:18px;margin-top:10px;margin-bottom:10px; color: #d6336c;}
#words{font-family:"sans-serif";width:500px;font-size:24px;color: #6b4c61;}
#messages{display:none;text-align: center;font-size: 30px;color: #c2185b}
#elapseClock .digit{font-family:"digit";font-size:40px;text-align: center; color: #ba1e4a;}
#loveu{padding:5px;font-size:22px;margin-top:80px;margin-right:120px;text-align:right;display:none; color: #8e245d;}
#loveu .signature{margin-top:10px;font-size:20px;font-style:italic; color: #a0527e;}
#clickSound{display:none}
#code{float:left;width:440px;height:400px;color:#444;font-family:"Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";font-size:12px}
#code .string{color:#e91e63}
#code .keyword{color:#7f0055;font-weight:bold}
#code .placeholder{margin-left:15px}#code .space{margin-left:7px}
#code .comments{color:#c2185b;}
#copyright{margin-top:10px;text-align:center;width:100%;color:#666}
#errorMsg{width:100%;text-align:center;font-size:24px;position:absolute;top:100px;left:0;color: #c2185b;}
#copyright a{color:#b86b77}
#icon{font-size: 48px;color: #e53935;margin: 50 px; align-content: center;}
#heartspan{align-content: center;text-align: center;margin: 20px;}
@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(1.05); }
  40% { transform: scale(0.97); }
  60% { transform: scale(1.03); }
  100% { transform: scale(1); }
}


@keyframes beat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.beat {
  animation: beat 1s ease-in-out;
  /* Use 'forwards' to keep scale at 1.2 or default to normal */
  animation-fill-mode: forwards;
  transform-origin: center center;
}


